div{
    outline:1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color:#231f20;
    
}

body{
    font-family: 'Amatic SC', cursive;
    text-align:center;
    font-size: 40px;
    text-decoration:none;
    margin:0px;
    background-color:#231f20;
    color:white;
    
}

.header{
    width:1200px;
    height:380px;
    color:#231f20;
    
}

.logobox{
    width:1200px;
    height:380px;
    color:#231f20
}

.logobox img{
    width:1200px;
    height:380px;
   
   
}

.nav{
    font-style:normal;
    color:#FFE1E5;
}


.links a{
    text-decoration: none;
    color:white;
    
    
}

.links a:hover{
    color:pink;
}
.links a:active{
    color:red;
}
.links a:visited{
    color:hotpink;
}


.motobox{
    background-color:#FCD9D1
    
}

.photobox{
    width:1200px;
    height:790px;
    padding:20px;
    background-color:#231f20;
}
.photobox img{
    text-align: auto;
    width:570px;
    height:750px;
    margin:10px;

}


.brandsbox{
 color:white;
 width:auto;
height:500px;
font-size:60px;
  
} 
.brandbanner{
    color:black;
    height:140px;
    width:auto;
    background-color:#e1bfbe;
}



    
    
}
.maintext{
    color:white;
    width:1200px;
    height:100px;
    float:left;
    
    
}
.container1{
      width:1200px;
      height:490px;
      text-align: center;
      
     
    
}

.icon{
    width:570px;
    height:215px;
    text-align: center;
    margin:15px;
    float: left;
    background-color: lightpink;

}

.icon img{
    float: left;
    width:200px;
    height:215px;
}
.text{
    text-align:right;
    background-color: lightpink;
    color:black;
    
}
}
.footerfont{
    font-style: italic;
    float:left;
    
}
.container{
    width:1200px;
    height:1790px;
    text-align: center;
    padding-left: 20px;
    padding-top:20px;
    
}
.square{
width:373px;
height:450px;
float:left;
text-align: center;
margin:10px;

}
 .square img{
width:373px;
height:450px;
}
.textbox{
    width:373px;
height:100px;
float:left;
text-align: center;
margin:10px;
    
}
.aboutbox{
    width:1200px;
    height:1800px;
    
}

.storepics{
    float:left;
    text-align: center;
    margin-top:20px;
    margin-left:20px;
    margin-right:1px;
    
    
}
.storepics img{
width:373px;
height:450px;
}
.paragraph{
    font-family: 'Open Sans Condensed', sans-serif;
    width:1200px;
    height:1600px;
    font-size:40px;
}
.title{
    text-decoration: underline;
    text-align: center;
    color:pink;
    font-style:oblique;
    
}