div{
    outline:1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color:#231f20;
    
}

body{
    font-family: 'Amatic SC', cursive;
    text-align:center;
    font-size: 40px;
    text-decoration:none;
    margin:0px;
    background-color:#231f20;
    color:white;
    
}

.header{
    width:1200px;
    height:380px;
    color:#231f20;
    
}

.logobox{
    width:1200px;
    height:380px;
    color:#231f20
}

.logobox img{
    width:1200px;
    height:380px;
   
   
}

.nav{
    font-style:normal;
    color:#FFE1E5;
}


.links a{
    text-decoration: none;
    color:white;
    
    
}

.links a:hover{
    color:pink;
}
.links a:active{
    color:red;
}
.links a:visited{
    color:hotpink;
}


.motobox{
    background-color:#FCD9D1
    
}

.photobox{
    width:1200px;
    height:790px;
    padding:20px;
    background-color:#231f20;
}
.photobox img{
    text-align: auto;
    width:570px;
    height:750px;
    margin:10px;

}


.brandsbox{
 color:white;
 width:auto;
height:500px;
font-size:60px;
  
} 
.brandbanner{
    color:black;
    height:140px;
    width:auto;
    background-color:#e1bfbe;
}
.footerfont{
    font-style: italic;
    
}
.container{
    width:1200px;
    height:3460px;
    text-align: center;
    padding-left: 20px;
    padding-top:20px;
    
}
.square{
width:373px;
height:450px;
float:left;
text-align: center;
margin:10px;

}
 .square img{
width:373px;
height:450px;
}
.textbox{
    width:373px;
height:100px;
float:left;
text-align: center;
margin:10px;
    
}
