div{
    outline:1px solid black;
    margin-left: auto;
    margin-right: auto;
    
}

body{
    font-family: 'Amatic SC', cursive;
    text-align:center;
    font-size: 70px;
    text-decoration:none;
    margin:0px;
    background-color:white;
    
}

.header{
    width:1200px;
    height:380px;
    color:white;
    float:auto;
}

.logobox{
    width:380px;
    height:380px;
}



.nav{
    font-style:;
}

.links a{
    text-decoration: none;
    color:black;
    
    
}

.links a:hover{
    color:pink;
}
.links a:active{
    color:red;
}

.motobox{
    background-color:#FCD9D1
    
}

.photobox{
    width:1200px;
    height:790px;
    padding:20px;
    background-color:white;
}
.photobox img{
    text-align: auto;
    width:570px;
    height:750px;
    margin:10px;
}
    
.brandsbox{
  background-color:#FFE1E5
    
  }  
.othercolor{
    color:white;
}
    




